*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
    font-family: verdana;
    font-weight: bold;
    margin: 5px;
}

h2{
    font: bold 14px sans-serif;
}

p{
    font: lighter 16px verdana;
}

header,section,footer,aside,nav,article,hgroup{
    display: block;
}

body{
    text-align: center;
}

/* Div principal */
.agrupar{
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
}

/* Franja Logo */
.cabecera {
    background: white;
    border: 1px solid #999999;
    padding: 10px;
    color: white;
}

/* Nav Bar */
.menu{
    background: #95a5a6;
    padding: 5px 15px;
    text-align: left;
    color: white;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

/* Sección Bievenida */
.seccion {
    width: 800px;
    margin: 20px auto;
}

article {
    background: white;
    /* border: 1px solid #999; */
    padding: 20px;
    margin-bottom: 15px;
}

article li{
    list-style: none;
    font: lighter 18px sans-serif;
    margin: 10px;
    padding: 2px;
    border: 1px solid black;

}

.formulario {
    width: 800px;
    margin: 20px auto;
    text-align: left;
}

.formulario label{
    font: lighter 22px sans-serif;
    margin: 0px 20px;
}

.formulario input{
    width: 45%;
    border: 2px solid #999;
    margin: 15px 0px;
    padding: 12px 20px;
    box-sizing: border-box;
    display: block;
}

/* CSS para el boton de enviar */
.formulario .boton{
    margin: 50px auto;
    width: 200px;
    border: solid 1px #80CBC4;
    font: bold 14px verdana;
}

.formulario p{
    font: solid 14px verdana;
    margin: 20px 10px;
    text-align: left;
}

textarea{
    width: 45%;
    height: 100px;
    padding: 20px;
    border: solid 1px #999;
}

.checkbox {
    width: 45%;
}

.checkbox label {
    font: lighter 18px sans-serif;
}

.checkbox input{
    display: inline;
    width: 10%; 
    margin: 10px;
}

.pie {
    clear: both;
    padding: 20px;
    background: #95a5a6;
    color: black;
    font: lighter 14px verdana;
}

.logo {
    width: 185px;
    display: block;
    margin: 5px auto;
    
}

hr{
    border: 1px dashed #FFCCBC;
}